@model IEnumerable<VestHQDataModels.FundPriceHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TickerPrice)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TickerPrice)
        </td>
    </tr>
}

</table>
